<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10.0, minimum-scale=.25, user-scalable=yes"/>
		<meta name="description" content=":)"/>

		<link rel="icon" type="image/x-icon" href="">
		<link rel="stylesheet" href="/css/includes/reset.css">
		<link rel="stylesheet" href="/css/views/hotel_promotions.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<title>Dusk | Promotions</title>
	</head>
	<body>
		<div id="topbar-container">
			<img id="comp-logo" src="/hotel_assets/icon.svg">
			<div id="topbar-right-container">
				<button id="topbar-member-login-btn">
					<img src="/hotel_assets/account_icon.svg">
					Member sign in
				</button>
				<button id="topbar-booknow-btn">
					BOOK NOW
				</button>
			</div>
		</div>
		<div id="frontpage-container">
			<div id="carousel-container">
			</div>
			<div id="greeter-container">
				<h1 id="page-header">PROMOTIONS</h1>
				<p id="page-caption">Ever changing promotions all year round. View the latest promotions ongoing.</p>

				<div id="content-searchbar">
					<label for="promo-content-search">Search by keyword</label>
					<div id="content-searchbar-input-container">
						<input id="content-searchbar-input-query" name="promo-content-search" type="text">
						<input id="content-searchbar-filter-date" name="promo-content-date" type="date">
						<select id="content-searchbar-filter-category" name="promo-content-category">
							<option value="dining">Dining</option>
							<option value="accommodation">Accommodation</option>
							<option value="events">Events</option>
							<option value="wedding">Wedding</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<nav id="greeter-anchorjump">
			<p><a href="#dining">Dining</a> | <a href="#accommodation">Accommodation</a> |  <a href="#events">Events</a> | <a href="#wedding">Wedding</a></p>
		</nav>
		<div id="content-container">
			<section class="section-container" id="dining">
				<div class="section-header-container">
					<h2>Dining</h2>
				</div>
				<div class="section-content-container">
					<p>Have a go at our finely-curated asian culinary dishes.</p>
					<div class="promo-card-grid-container">
						<div class="promo-card">
							<div class="promo-card-top-container">
								<div class="promo-card-thumbnail"></div>
								<div class="promo-card-specs-container">
									<p class="promo-card-specs-date">19/2/23 - 24/2/23</p>
									<p class="promo-card-specs-tc">While stock lasts</p>
									<p class="promo-card-specs-tc">Terms & conditions apply</p>
								</div>
							</div>
							<div class="promo-card-details">
								<h3>20% High Tea for 2nd Pax</h3>
								<button class="promo-card-view-more-btn">
									VIEW MORE
								</button>
							</div>
						</div>
						<div class="promo-card">
							<div class="promo-card-top-container">
								<div class="promo-card-thumbnail"></div>
								<div class="promo-card-specs-container">
									<p class="promo-card-specs-date">19/2/23 - 24/2/23</p>
									<p class="promo-card-specs-tc">While stock lasts</p>
									<p class="promo-card-specs-tc">Terms & conditions apply</p>
								</div>
							</div>
							<div class="promo-card-details">
								<h3>20% High Tea for 2nd Pax</h3>
								<button class="promo-card-view-more-btn">
									VIEW MORE
								</button>
							</div>
						</div>
						<div class="promo-card">
							<div class="promo-card-top-container">
								<div class="promo-card-thumbnail"></div>
								<div class="promo-card-specs-container">
									<p class="promo-card-specs-date">19/2/23 - 24/2/23</p>
									<p class="promo-card-specs-tc">While stock lasts</p>
									<p class="promo-card-specs-tc">Terms & conditions apply</p>
								</div>
							</div>
							<div class="promo-card-details">
								<h3>20% High Tea for 2nd Pax</h3>
								<button class="promo-card-view-more-btn">
									VIEW MORE
								</button>
							</div>
						</div>
						<div class="promo-card">
						</div>
					</div>
				</div>
			</section>
			<section class="section-container" id="accommodation">
				<div class="section-header-container">
					<h2>Accommodation</h2>
				</div>
				<div class="section-content-container">
					<p>Cozy yet luxurious room stays.</p>
					<div class="promo-card-grid-container">
						<div class="promo-card">
							<div class="promo-card-top-container">
								<div class="promo-card-thumbnail"></div>
								<div class="promo-card-specs-container">
									<p class="promo-card-specs-date">19/2/23 - 24/2/23</p>
									<p class="promo-card-specs-tc">While stock lasts</p>
									<p class="promo-card-specs-tc">Terms & conditions apply</p>
								</div>
							</div>
							<div class="promo-card-details">
								<h3>20% High Tea for 2nd Pax</h3>
								<button class="promo-card-view-more-btn">
									VIEW MORE
								</button>
							</div>
						</div>
						<div class="promo-card">
							<div class="promo-card-top-container">
								<div class="promo-card-thumbnail"></div>
								<div class="promo-card-specs-container">
									<p class="promo-card-specs-date">19/2/23 - 24/2/23</p>
									<p class="promo-card-specs-tc">While stock lasts</p>
									<p class="promo-card-specs-tc">Terms & conditions apply</p>
								</div>
							</div>
							<div class="promo-card-details">
								<h3>20% High Tea for 2nd Pax</h3>
								<button class="promo-card-view-more-btn">
									VIEW MORE
								</button>
							</div>
						</div>
						<div class="promo-card">
							<div class="promo-card-top-container">
								<div class="promo-card-thumbnail"></div>
								<div class="promo-card-specs-container">
									<p class="promo-card-specs-date">19/2/23 - 24/2/23</p>
									<p class="promo-card-specs-tc">While stock lasts</p>
									<p class="promo-card-specs-tc">Terms & conditions apply</p>
								</div>
							</div>
							<div class="promo-card-details">
								<h3>20% High Tea for 2nd Pax</h3>
								<button class="promo-card-view-more-btn">
									VIEW MORE
								</button>
							</div>
						</div>
						<div class="promo-card">
						</div>
					</div>
				</div>
			</section>
		</div>

		<div id="modal-window">
			<div id="modal-container">
				<div id="modal-content-thumbnail">
				</div>
				<div id="modal-content">
					<div id="modal-content-left">
						<h2 id="modal-content-header">20% High Tea 2nd Pax</h2>
						<div id="modal-content-description">
							<p>Desc...</p>
						</div>
					</div>
					<div id="modal-content-right">
						<div id="modal-content-details">
							<p id="modal-content-details-promo-date">14/02/2023 - 21/02/2023</p>
						</div>
						<button id="modal-content-close-btn">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- CREDITS
			https://svgsilh.com/image/37726.html
		-->
	</body>
	<script>
		/* set min-date for date input (content-searchbar) */
		document.getElementById("content-searchbar-filter-date").setAttribute("min", new Date().toISOString().split("T")[0])

		/* promo card view more */
		document.getElementsByClass("promo-card-view-more-btn").addEventListener("click", e => {
			document.getElementById("modal-content-container").classList.add("open-animation")
		})
	</script>
</html>