<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10.0, minimum-scale=.25, user-scalable=yes"/>
		<meta name="description" content=":)"/>

		<link rel="icon" type="image/x-icon" href="">
		<link rel="stylesheet" href="/css/includes/reset.css">
		<link rel="stylesheet" href="/css/views/hotel_promotions.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<title>Dusk | Promotions</title>
	</head>
	<body>
		<div id="topbar-container">
			<img id="comp-logo" src="/hotel_assets/icon.svg">
			<div id="topbar-right-container">
				<button id="topbar-member-login-btn">
					<img src="/hotel_assets/account_icon.svg">
					Member sign in
				</button>
				<button id="topbar-booknow-btn">
					BOOK NOW
				</button>
			</div>
		</div>
		<div id="carousel-container">
		</div>
		<div id="greeter-container">
			<h1 id="page-header">PROMOTIONS</h1>
			<p id="page-caption">Ever changing promotions all year round. View the latest promotions ongoing.</p>

			<div id="content-searchbar">
				<label for="promo-content-search">Search by keyword</label>
				<div id="content-searchbar-input-container">
					<input id="content-searchbar-input-query" name="promo-content-search" type="text">
					<input id="content-searchbar-filter-date" name="promo-content-date" type="date">
					<select id="content-searchbar-filter-category" name="promo-content-category">
						<option value="dining">Dining</option>
						<option value="accommodation">Accommodation</option>
						<option value="events">Events</option>
						<option value="wedding">Wedding</option>
					</select>
				</div>
			</div>
		</div>
		<div id="greeter-anchorjump">
			<p><a href="#dining">Dining</a> | <a href="#accommodation">Accommodation</a> |  <a href="#events">Events</a> | <a href="#wedding">Wedding</a></p>
		</div>
		<div id="content-container">
			<section class="section-container" id="dining">
				<div class="section-header-container">
					<h2>Dining</h2>
				</div>
				<div class="section-content-container">
					<p>Have a go at our finely-curated asian culinary dishes.</p>
					<div class="promo-card-grid-container">
						<div class="promo-card">
							<div class="promo-card-thumbnail">
							</div>
							<div class="promo-card-details">
								<h3>20% High Tea for 2nd Pax</h3>
								<div class="promo-card-specs-container">
									<p class="promo-card-specs-date">19/2/23 - 24/2/23</p>
									<p class="promo-card-specs-tc">Terms & conditions apply</p>
									<p class="promo-card-specs-tc">While stock lasts</p>
								</div>
								<p>Enjoy a refreshing high tea/afternoon set suited for 2 pax!</p>
							</div>
						</div>
						<div class="promo-card">
							<div class="promo-card-thumbnail">
							</div>
							<div class="promo-card-details">
								<h3>20% High Tea for 2nd Pax</h3>
								<div class="promo-card-specs-container">
									<p class="promo-card-specs-date">19/2/23 - 24/2/23</p>
									<p class="promo-card-specs-fm">Members exclusive</p>
									<p class="promo-card-specs-tc">Terms & conditions apply</p>
								</div>
								<p>Enjoy a refreshing high tea/afternoon set suited for 2 pax!</p>
							</div>
						</div>
						<div class="promo-card">
							<div class="promo-card-thumbnail">
							</div>
							<div class="promo-card-details">
								<h3>20% High Tea for 2nd Pax</h3>
								<div class="promo-card-specs-container">
									<p class="promo-card-specs-date">19/2/23 - 24/2/23</p>
									<p class="promo-card-specs-tc">Terms & conditions apply</p>
									<p class="promo-card-specs-tc">While stock lasts</p>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque blandit sodales mi et laoreet. Sed a lorem a urna porttitor ultrices. Etiam lobortis pretium odio, ac viverra nisi. Quisque purus leo, tristique pretium metus non, vulputate convallis tortor. Integer pellentesque dui nibh, dignissim molestie urna malesuada sit amet. Sed non lectus at turpis dignissim posuere. Nullam sit amet leo id lorem venenatis egestas condimentum in dolor. Vivamus eget dolor tincidunt, posuere dui in, egestas ante.</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

		<!-- CREDITS
			https://svgsilh.com/image/37726.html
		-->
	</body>
</html>