<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10.0, minimum-scale=.25, user-scalable=yes"/>
		<meta name="description" content=":)"/>

		<link rel="icon" type="image/x-icon" href="">
		<link rel="stylesheet" href="/css/includes/reset.css">
		<link rel="stylesheet" href="/css/views/hotel_promotions.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<title>Dusk | Promotions</title>
	</head>
	<body>
		<div id="topbar-container">
			<img id="comp-logo" src="/hotel_assets/icon.svg">
			<div id="topbar-right-container">
				<button id="topbar-member-login-btn">
					<img src="/hotel_assets/account_icon.svg">
					Member sign in
				</button>
				<button id="topbar-booknow-btn">
					BOOK NOW
				</button>
			</div>
		</div>
		<div id="carousel-container">
		</div>
		<div id="content-container">
			<h1 id="page-header">Promotions</h1>
			<p id="page-caption">Ever changing promotions all year round. View the latest promotions ongoing.</p>
		</div>
<!-- 		<div id="top-image-over">
			<img src="https://www.panpacific.com/content/dam/pphg-revamp/en/global/offers/parents-day/parentsday-masthead2.png">
		</div> -->

		<!-- CREDITS
			https://svgsilh.com/image/37726.html
		-->
	</body>
</html>