:root {
	--primary-color: #fffefb;
	--contrast-color: #3b1907;
	--accent-color: #e85d75;
	--accent-compl-color: #a76262;
	--accent2-color: #38369a;

	--border-light: #c8c8c8;
	--border-medium: #a7a7a7;
}

html {
	height: 100svh;
	height: auto;

	font-family: "Roboto Slab", serif;

	color: var(--contrast-color);
	background-color: var(--primary-color);
}