#topbar-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	position: fixed;
	top: 0;

	width: calc(100% - var(--horizontal-padding) * 2);
	height: 28px;

	padding: 15px var(--horizontal-padding);
	margin-bottom: 1px;

	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;

	background-color: #ffffff;

	z-index: 2;
}

#topbar-logo {
	font-size: 24px;

	text-decoration: none;

	color: black;
}

#topbar-action-container {
	display: flex;
	flex-direction: row;
	align-items: center;

	color: #2b2b2b;
}

.topbar-action-btn {
	padding: 15px 30px;

	transition-property: background-color;
	transition-duration: 150ms;
	transition-timing-function: linear;
}

.topbar-action-btn:hover {
	background-color: #ede6cc;
}

#buy-btn {
	margin-left: 10px;
	font-weight: 700;

	text-decoration: none;

	color: black;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-bottom-width: 2px;
	background-color: #e8daa7;
}

#buy-btn:hover,
#buy-btn:focus {
	background-color: #ede6cc;
}

#topbar-bottom-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	position: fixed;
	top: calc(29px + 30px);

	width: calc(100% - var(--horizontal-padding) * 2);

	padding: 12px var(--horizontal-padding);

	font-size: 13px;

	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;

	background-color: #ffffff;

	z-index: 2;
}

#topbar-bottom-container > p {
	flex-grow: 1;
}

#topbar-bottom-action-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#topbar-bottom-action-container > div {
	padding-left: 10px;
}

#topbar-bottom-action-container > div > a {
	color: #0c0c0c;
}

@media (max-width: 640px) {
	.topbar-action-btn {
		padding: 8px 10px;
	}
}

@media (max-width: 410px) {
	#topbar-bottom-action-container {
		display: none;
	}
}