:root {
	--accent-color: #e34848;
	--accent-compl-color: #a76262;
}

html {
	height: 100svh;
	height: auto;

	font-family: "Roboto Slab", serif;
	overflow-x: hidden;
}

body {
	position: relative;
}

#background-product-container {
	position: absolute;

	width: 100svw;

	z-index: -1;

}

#background-tulip-img {
	position: fixed;
	width: 400px;

	margin-top: 300px;
	object-fit: cover;

	filter: opacity(.2);
}

#product-container {
	position: relative;
	margin-left: 40%;
	margin-top: 150px;

	perspective: 900px;
	perspective-origin: 50% 50%;
}

#product-container > img {
	position: absolute;
	width: 600px;
	height: auto;
	object-fit: cover;

	transform: rotateY(-12deg) rotateX(10deg);
	transform-origin: center;

	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	background-color: white;

	border-style: solid;
	border-width: 1px;
	border-color: black;
}

#product-container > img:nth-child(2) {
	top: 8px;
	left: 8px;

	z-index: -1;
}

#container {
	display: flex;
	flex-direction: column;

	height: calc(100svh - 140px);

	padding-bottom: 20px;
	margin: 0 20px;
	margin-top: 120px;
}

#searchbar-container {
	display: flex;
	flex-direction: row;

	margin-bottom: 10px;

	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: var(--accent-color);
}

#searchbar-inp {
	flex-grow: 1;
	max-width: 35%;

	padding: 10px;

	outline: none;
	border: none;

	caret-color: var(--accent-color);
}

#searchbar-search-btn > img {
	width: 28px;
	height: 28px;

	padding: 5px;

	object-fit: cover;
}

#scrolltable-container {
	padding-right: 10px;

	overflow: auto;
}

.topic-entry {
	padding-bottom: 10px;
}

.topic-entry-header {
	padding: 10px;
	margin-bottom: 10px;

	font-weight: 300;

	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #838383;

	cursor: pointer;
}

.sub-topics-table {
	display: none;
}

.sub-topics-table.active {
	display: table;
}

.sub-topics-table {
	width: 100%;
	border-collapse: collapse;

	border-style: solid;
	border-width: 1px;
	border-color: #c2c2c2;
}

.sub-topics-table > thead {
	text-align: left;
}

.sub-topics-table > thead {
}

.sub-topics-table > thead > tr > th:first-child,
.sub-topics-table > tbody > tr > td:first-child {
	background-color: #f7f7f7;
}

.sub-topics-table th,
.sub-topics-table td {
	padding: 10px;

	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #c2c2c2;
	background-color: white;
}

.sub-topics-table td {
	font-weight: 300;
}

@media (max-width: 640px) {
	#searchbar-inp {
		max-width: unset;
	}
}