:root {
	--accent-color: #e34848;
	--accent-compl-color: #a76262;
}

html {
	height: 100svh;
	height: auto;

	font-family: "Roboto Slab", serif;
	overflow-x: hidden;
}

body {
	position: relative;

	overflow-x: hidden;
}

#topbar-container {
	position: fixed;
	top: 0;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;

	width: calc(100% - 140px);

	padding: 20px 70px;
	padding-bottom: 33px;

	background-color: white;
}

#topbar-container.scrolled {
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#logo-redirect > img {
	width: auto;
	height: 32px;

	object-fit: cover;
}

#topbar-container > a {
	color: black;
	text-decoration: none;

	transition-property: color;
	transition-duration: 100ms;
	transition-timing-function: linear;
}

#topbar-container > a:hover,
#topbar-container > a:focus {
	color: var(--accent-compl-color);
}

#topbar-container > a.active {
	color: var(--accent-color);
}

#background-product-container {
	position: absolute;

	width: 100svw;
	min-height: 100svh;

	z-index: -1;

}

#background-tulip-img {
	position: fixed;
	width: 400px;

	margin-top: 300px;
	object-fit: cover;

	filter: opacity(.2);
}

#product-container {
	position: relative;
	margin-left: 40%;
	margin-top: 150px;

	perspective: 900px;
	perspective-origin: 50% 50%;
}

#product-container > img {
	position: absolute;
	width: 600px;
	height: auto;
	object-fit: cover;

	transform: rotateY(-12deg) rotateX(10deg);
	transform-origin: center;

	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	background-color: white;

	border-style: solid;
	border-width: 1px;
	border-color: black;
}

#product-container > img:nth-child(2) {
	top: 8px;
	left: 8px;

	z-index: -1;
}

#container {
}

.slide-sections {
	margin-left: 300px;
	margin-top: 250px;
}

.slide-sections > h1 {
	padding-right: 10px;

	font-weight: 700;
	font-size: 4rem;

	line-height: 100px;

	word-break: break-all;
}

.slide-sections > p {
	width: auto;
	padding-right: 10px;
}

#section-series {
	margin-top: 500px;
}

.header-disclaimer {
	display: inline-block;

	padding-left: 20px;
	font-size: .8rem;
}

#series-comparison-container {
	display: flex;
	flex-direction: row;

	width: calc(100% - 30px);

	margin-top: 70px;
}

.series-comparison-card {
	display: flex;
	flex-direction: column;
	flex-basis: 250px;

	min-width: 0;
	width: 350px;

	cursor: pointer;

	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #a1a1a1;
}

.series-comparison-card:first-child {
	margin-right: 20px;
}

.series-comparison-card-thumbnail {
	flex-shrink: 0;

	width: 100%;
	height: auto;

	object-fit: cover;

	background-color: #121212;
}

.series-comparison-card-details {
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	padding: 20px;

	background-color: white;
}

.series-comparison-card-details > h3 {
	padding-bottom: 10px;
}

.series-comparison-card-details > p {
	font-weight: 300;
}

.series-comparison-card-highlight {
	width: 80%;
	height: 2px;

	margin-top: 20px;

	border-radius: 1px;
	background-color: var(--accent-compl-color);

	transition-property: background-color;
	transition-duration: 150ms;
	transition-timing-function: linear;
}

.series-comparison-card:hover .series-comparison-card-highlight,
.series-comparison-card:focus .series-comparison-card-highlight {
	background-color: var(--accent-color);
}

#audience-container {
	display: flex;
	flex-direction: row;

	width: auto;

	margin-top: 70px;
}

.audience-cards {
	flex-basis: 150px;

	display: flex;
	flex-direction: column;
	align-items: center;

	text-align: center;
}

.audience-cards:first-child {
	margin-right: 20px;
}

.audience-cards > img {
	width: 128px;
	height: auto;

	object-fit: cover;
}

.audience-cards > h3 {
	padding-bottom: 20px;
}

.audience-cards > p {
	font-weight: 300;
}

#topics-demo-container {
	margin-right: 20px;
	margin-top: 20px;

	border-collapse: collapse;

	border-style: solid;
	border-width: 1px;
	border-color: #c2c2c2;
}

#topics-demo-container > thead > tr > th:first-child,
#topics-demo-container > tbody > tr > td:first-child {
	background-color: #f7f7f7;
}

#topics-demo-container th,
#topics-demo-container td {
	padding: 10px;

	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #c2c2c2;
}

#topics-demo-container td {
	font-weight: 300;
}

.slide-out-btn {
	width: fit-content;
}

.slide-out-btn > a {
	display: flex;
	flex-direction: row;
	align-items: center;

	padding: 10px;
	margin-top: 20px;

	font-weight: 300;
	letter-spacing: 2px;

	color: white;
	text-decoration: none;


	border-radius: .2rem;
	background-color: black;
}

#section-buynow {
	padding-bottom: 400px;
}

@media (max-width: 920px) {
	#product-container {
		margin-left: 30%;
		margin-top: 400px;
	}

	#product-container > img {
		width: 500px;
	}

	#section-intro {
		margin-top: 100px;
	}

	.slide-sections {
		margin-left: 30px;
	}
}

@media (max-width: 740px) {
	#product-container > img {
		width: 300px;
	}
}

@media (max-width: 640px) {
	#topbar-container {
		width: calc(100% - 40px);
		padding: 20px;
	}

	#background-tulip-img {
		width: 200px;
	}

	.slide-sections > h1 {
		font-size: 2.7rem;
		line-height: 55px;
	}

	#section-series {
		margin-top: 600px;
	}
}