html {
	height: 100svh;
	height: auto;

	font-family: "Roboto Slab", serif;
	overflow-x: hidden;

	color: var(--contrast-color);
	background-color: var(--primary-color);
}

body {
	position: relative;

	overflow-x: hidden;
}

#background-product-container {
	position: absolute;

	width: 100svw;
	min-height: 100svh;

	z-index: -1;

}

#background-tulip-img {
	position: fixed;
	width: 400px;

	margin-top: 300px;
	object-fit: cover;

	filter: opacity(.2);
}

#product-container {
	position: relative;
	margin-left: 40%;
	margin-top: 150px;

	perspective: 900px;
	perspective-origin: 50% 50%;
}

#product-container > img {
	position: absolute;
	width: 600px;
	height: auto;
	object-fit: cover;

	transform: rotateY(-12deg) rotateX(10deg);
	transform-origin: center;

	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	background-color: white;

	border-style: solid;
	border-width: 1px;
	border-color: black;
}

#product-container > img:nth-child(2) {
	top: 8px;
	left: 8px;

	z-index: -1;
}

#background-graph {
	position: fixed;
	bottom: 0;

	width: 100%;
	height: calc(100% - 81px);

	z-index: -2;

	opacity: .4;
}

#background-graph > path {
	fill: none;
	stroke: #5d5d5d;
	stroke-width: 2px;
}

#background-graph > path.axis-head {
	fill: #5d5d5d;
	stroke-width: 0;
	stroke: none;
}

#background-graph > path:last-child {
	stroke: var(--accent-color);
}

#container {
}

.slide-sections {
	margin-left: 300px;
	margin-top: 250px;
}

.slide-sections > h1 {
	padding-right: 10px;

	font-weight: 700;
	font-size: 4rem;

	line-height: 100px;

	word-break: break-all;
}

.slide-sections > p {
	width: min(calc(100% - 10px), 600px);

	padding-right: 10px;

	line-height: 24px;
}

.slide-sections > ul {
	padding-left: 20px;

	line-height: 20px;
}

.slide-sections > ul > li {
	margin-bottom: 10px;
}

#section-intro-2 {
	margin-top: 500px;
}

.header-disclaimer {
	display: inline-block;

	padding-left: 20px;
	font-size: .8rem;
}

#questions-horizontal-scroll-container {
	display: flex;
	flex-direction: row;

	padding: 40px 0;
	margin-right: 40px;

	overflow-x: auto;
}

#questions-horizontal-scroll-container::-webkit-scrollbar {
	display: none;
}

.question-example-card {
	display: flex;
	flex-direction: column;

	min-height: 250px;
	aspect-ratio: 1.25;

	margin-right: 15px;

	border-style: solid;
	border-width: 1px;
	border-color: #a7a7a7;

	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.question-example-card:last-child {
	margin-right: 0;
}

.question-example-card > img {
	flex-basis: 185px;
	flex-shrink: 0;
	flex-grow: 0;

	width: 100%;
	min-height: 0;

	object-fit: cover;

	background-color: #efefef;
}

.question-details-example-card {
	height: 100%;

	padding: 20px;

	background-color: white;
}

#questions-horizontal-scroll-container-disclaimer {
	padding: 12px;
	margin-right: 40px;

	font-weight: 300;
	text-align: right;

	color: grey;
}

#series-comparison-container {
	display: flex;
	flex-direction: row;

	width: calc(100% - 30px);

	margin-top: 70px;
}

.series-comparison-card {
	display: flex;
	flex-direction: column;
	flex-basis: 250px;

	min-width: 0;
	width: 350px;

	cursor: pointer;

	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #a1a1a1;
}

.series-comparison-card:first-child {
	margin-right: 20px;
}

.series-comparison-card-thumbnail {
	flex-shrink: 0;

	width: 100%;
	height: auto;

	object-fit: cover;

	background-color: #121212;
}

.series-comparison-card-details {
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	padding: 20px;

	background-color: white;
}

.series-comparison-card-details > h3 {
	padding-bottom: 10px;
}

.series-comparison-card-details > p {
	font-weight: 300;
}

.series-comparison-card-highlight {
	width: 80%;
	height: 2px;

	margin-top: 20px;

	border-radius: 1px;
	background-color: var(--accent-compl-color);

	transition-property: background-color;
	transition-duration: 150ms;
	transition-timing-function: linear;
}

.series-comparison-card:hover .series-comparison-card-highlight,
.series-comparison-card:focus .series-comparison-card-highlight {
	background-color: var(--accent-color);
}

#audience-container {
	display: flex;
	flex-direction: row;

	width: auto;

	margin-top: 70px;
}

.audience-cards {
	flex-basis: 150px;

	display: flex;
	flex-direction: column;
	align-items: center;

	text-align: center;
}

.audience-cards:first-child {
	margin-right: 20px;
}

.audience-cards > img {
	width: 128px;
	height: auto;

	object-fit: cover;
}

.audience-cards > h3 {
	padding-bottom: 20px;
}

.audience-cards > p {
	font-weight: 300;
}

#topics-demo-container {
	margin-right: 20px;
	margin-top: 20px;

	border-collapse: collapse;

	border-style: solid;
	border-width: 1px;
	border-color: #c2c2c2;
}

#topics-demo-container > thead > tr > th,
#topics-demo-container > tbody > tr > td {
	background-color: white;
}

#topics-demo-container > thead > tr > th:first-child,
#topics-demo-container > tbody > tr > td:first-child {
	background-color: #f7f7f7;
}

#topics-demo-container th,
#topics-demo-container td {
	padding: 10px;

	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #c2c2c2;
}

#topics-demo-container td {
	font-weight: 300;
}

.slide-out-btn {
	width: fit-content;
}

.slide-out-btn > a {
	display: flex;
	flex-direction: row;
	align-items: center;

	padding: 10px;
	margin-top: 20px;

	font-weight: 300;
	letter-spacing: 2px;

	color: white;
	text-decoration: none;


	border-radius: .2rem;
	background-color: black;
}

#section-buynow {
	padding-bottom: 400px;
}

@media (max-width: 920px) {
	#product-container {
		margin-left: 30%;
		margin-top: 400px;
	}

	#product-container > img {
		width: 300px;
	}

	#section-intro {
		margin-top: 100px;
	}

	.slide-sections {
		margin-left: 30px;
	}
}

@media (max-width: 740px) {
	#product-container > img {
		width: 300px;
	}
}

@media (max-width: 640px) {
	#background-tulip-img {
		width: 200px;
	}

	.slide-sections > h1 {
		font-size: 2.7rem;
		line-height: 55px;
	}

	#section-intro-2 {
		margin-top: 600px;
	}

	#series-comparison-container {
		flex-direction: column;
	}

	.series-comparison-card {
		max-width: 100%;

		margin-bottom: 20px;
	}
}