:root {
	--background-color: #fff;
	--accent-color: #ff9cd7;
	--accent2-color: #ebffb2;
}

body, html {
	height: 100vh;

	word-wrap: break-word;
	word-break: break-word;
	background-color: var(--background-color);
	font-family: 'Alegreya Sans', sans-serif;
}

li {
	margin-bottom: 10px;
}

a {
	color: #ff0000;

	padding: 5px;
	border-radius: .4rem;

	transition-property: background-color;
	transition-duration: 150ms;
	transition-timing-function: linear;
}

a:hover {
	background-color: var(--accent2-color);
}

h1 {
	font-size: 3em;
	color: var(--accent-color);
}

.unselectable {
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}