<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10.0, minimum-scale=.25, user-scalable=yes"/>
		<meta name="description" content="Worksheets grandmaster"/>

		<link rel="stylesheet" href="/css/includes/reset.css">
		<link rel="stylesheet" href="/css/includes/qriller/new_topbar.css">
		<link rel="stylesheet" href="/css/views/qriller/listing_page.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;500;600;700;800;900&display=swap" rel="stylesheet">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<!-- <script src="/js/views/qriller/signup.js"></script> -->

		<title>Qriller | Topics</title>
	</head>
	<body>
		<div id="topbar-container">
			<a href="/" id="logo-redirect"><img src="/qriller_assets/banner.svg"></a>
			<a class="active" href="/qriller/new">About</a>
			<a href="/qriller/buy">Purchase</a>
			<a href="/qriller/account">Account</a>
			<a href="/qriller/contact">Contact</a>
			<div id="topbar-mobile-component">
				<a id="topbar-mobile-link">About</a>
				<button id="topbar-mobile-hamburg">
					<img src="/qriller_assets/hamburg.svg">
				</button>
				<div id="topbar-mobile-hamburg-menu">
					<a href="/qriller/buy">Purchase</a>
					<a href="/qriller/account">Account</a>
					<a href="/qriller/contact">Contact</a>
				</div>
			</div>
		</div>
	</body>
</html>