<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10.0, minimum-scale=.25, user-scalable=yes"/>
		<meta name="description" content="Worksheets grandmaster"/>

		<link rel="stylesheet" href="/css/includes/reset.css">
		<link rel="stylesheet" href="/css/includes/qriller/default.css">
		<link rel="stylesheet" href="/css/includes/qriller/topbar.css">
		<link rel="stylesheet" href="/css/views/qriller/checkout_page.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="/js/views/qriller/checkout.js"></script>
		<script async src="https://pay.google.com/gp/p/js/pay.js" onload="createGPayBtn()"></script>

		<title>Qriller | Buy</title>
	</head>
	<body>
		<div id="modal-window">
			<div id="modal-dialogue-container">
				<h2 id="modal-dialogue-header">
				</h2>
				<p id="modal-dialogue-details">
				</p>
				<div id="modal-dialogue-action-container">
					<button id="modal-dialogue-confirm-btn" title="reset cart">YES</button>
					<button id="modal-dialogue-cancel-btn" title="keep cart">CANCEL</button>
				</div>
			</div>
		</div>
		<div id="topbar-container">
			<a id="topbar-logo" href="/qriller">Qriller</a>
			<div id="topbar-action-container">
				<button id="contactus-btn" class="topbar-action-btn">
					Support
				</button>
				<button id="contactus-btn" class="topbar-action-btn">
					Contact Us
				</button>
				<a id="buy-btn" class="topbar-action-btn" href="/qriller/buy">
					BUY
				</a>
			</div>
		</div>
		<div id="topbar-bottom-container">
			<p>Conceptual learning | worksheets grandmaster</p>
			<div id="topbar-bottom-action-container">
				<div><a href="/qriller">Home</a></div>
				<div><a href="/qriller/series">Series</a></div>
				<div><a href="/qriller/topic-list">Topic List</a></div>
			</div>
		</div>
		<div id="container">
			<h1>Purchase</h1>
			<div id="lr-container">
				<div id="topics-selection-container">
					<div id="topics-search-menu">
						<input id="search-query-inp" name="searchquery" type="text" placeholder="SEARCH TITLE">
						<button id="search-query-btn">SEARCH</button>
					</div>
					<div id="topics-choice-menu">
						<div id="topics-choice-selection">
						</div>
						<div id="topics-display-demo">
							<h2>DEMO</h2>
							<p>A few questions from the selected topics will appear here.</p>
						</div>
					</div>
				</div>
				<div id="shopping-cart-container">
					<div id="shopping-cart-header-container">
						<h3>CART</h3>
						<button id="shopping-cart-reset-btn" title="reset cart">
							<img src="/static/refresh_icon.svg">
						</button>
					</div>
					<div id="shopping-list-summary">
						<div id="shopping-list-summary-headers">
							<p class="type-col">Type</p>
							<p class="title-col">Title</p>
							<p class="qty-col">Qty</p>
							<p class="price-col">Price</p>
						</div>
					</div>
					<div id="total-summary">
						<p class="total-col">Total</p>
						<p class="qty-col">0</p>
						<p class="totalprice-col">SGD 0</p>
					</div>
					<div id="checkout-container">
						<button id="checkout-btn">
							CHECKOUT
						</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>