<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10.0, minimum-scale=.25, user-scalable=yes"/>
		<meta name="description" content="page description here"/>

		<link rel="stylesheet" href="/css/includes/reset.css">
		<link rel="stylesheet" href="/css/views/latex_default.css">
		<link rel="stylesheet" href="/css/views/latex_coverpage.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.css" integrity="sha384-3UiQGuEI4TTMaFmGIZumfRPtfKQ3trwQE2JgosJxCnGmQpL/lJdjpcHkaaFwHlcI" crossorigin="anonymous">

		<!-- The loading of KaTeX is deferred to speed up page rendering -->
		<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.js" integrity="sha384-G0zcxDFp5LWZtDuRMnBkk3EphCK1lhEf4UEyEM693ka574TZGwo4IWwS6QLzM/2t" crossorigin="anonymous"></script>

		<!-- To automatically render math in text elements, include the auto-render extension: -->
		<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>

		<title>Qriller | 3.1 Simplifying Algebra Equations</title>
	</head>
	<body>
		<div id="page-container">
			<div id="cover-page-container">
				<h1>Qriller</h1>
				<h4>3.1 Simplifying Algebra Equations</h4>
				<hr>
				<img id="coverpage-image" src="/static/qriller_coverpage_image.png">

				<p id="coverpage-synopsis">
					Simplify algebra expressions only consisting of not more than 4 terms and without the need of expanding parenthesis.
				</p>
				<br>
				<p id="coverpage-statement">
				The generation of this worksheet is automated and licensed under GNU General Public License (GPL) version 3.0. No forms of sharing, distribution or modification is allowed. Only restricted for use, distribution by authorised authors.<p>
				<p id="coverpage-qriller-id">
					b724f9fae18c01b
				</p>
				<hr>

				<div id="coverpage-details">
					<p>Author: Ms. Chong</p>
					<p>Question count: 10000</p>
				</div>
			</div>
		</div>
		<footer id="page-footer">
			<hr>
			<div id="page-attribution">
				<p>Generated work of Qriller<br>Ms. Chong (<span class="references">b724f9fae18c01b</span>)</p>
				<p id="license">Licensed under GNU General Public License (GPL) version 3.0.</p>
			</div>
		</footer>
	</body>
</html>