<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10.0, minimum-scale=.25, user-scalable=yes"/>
		<meta name="description" content="page description here"/>

		<link rel="stylesheet" href="/css/includes/reset.css">
		<link rel="stylesheet" href="/css/views/latex_default.css">
		<link rel="stylesheet" href="/css/views/qriller_homepage.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.css" integrity="sha384-3UiQGuEI4TTMaFmGIZumfRPtfKQ3trwQE2JgosJxCnGmQpL/lJdjpcHkaaFwHlcI" crossorigin="anonymous">

		<!-- The loading of KaTeX is deferred to speed up page rendering -->
		<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.js" integrity="sha384-G0zcxDFp5LWZtDuRMnBkk3EphCK1lhEf4UEyEM693ka574TZGwo4IWwS6QLzM/2t" crossorigin="anonymous"></script>

		<!-- To automatically render math in text elements, include the auto-render extension: -->
		<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>

		<title>Qriller</title>
	</head>
	<body>
		<div id="window-container">
			<div id="thumbnail-container">
				<img id="logo-thumbnail" src="/qriller_assets/icon.svg">
			</div>

			<div id="details-container">
				<section id="introduction">
					<h2>Worksheets Grandmaster</h2>
					<div class="divider"></div>
					<p id="details">An automated framework that generates worksheets based on question templates, hence the worksheets grandmaster.<br>Semi-intelligent with extended algebra engine that provides computational awareness.<br>Worksheets are intended to drill core concepts which are the building blocks of all math knowledge.</p>
				</section>
				<section id="purchase">
					<h2>Purchase</h2>
					<div class="divider"></div>

					<p>Worksheets generated are uniquely yours.<br>After purchase has been made, you will receive a unique link to the worksheet and the answer sheet.<br>You are then able to save it as a PDF document and/or print it out.<br></p>
					<p>&nbsp;</p>
					<p>Reach out to me via Carousell <span style="font-family: monospace;">[@shop_id]</span> or IG <span style="font-family: monospace;">[@ig_handle]</span>.</p>
				</section>
				<section id="chapters">
					<h2>Chapters</h2>
					<div class="divider"></div>

					<p>All the chapters here listed have their own individual worksheets and each worksheet contains 100 questions.<br>Each worksheet is priced at <span class="price">SGD $3</span>.</p>

					<ul>
						<li><span class="bold">[2.1]</span> Fractions to Percentage</li>
						<li><span class="bold">[2.2]</span> Percentage to Fractions</li>
						<li><span class="bold">[2.3.1]</span> Percentage Increase</li>
						<li><span class="bold">[2.3.2]</span> Percentage Decrease</li>
						<li><span class="bold">[2.3.3]</span> Percentage Change</li>
						<li><span class="bold">[2.3.4]</span> Percentage Change Word Problems</li>
						<li><span class="bold">[2.4.1]</span> Percentage Manipulation [Increase]</li>
						<li><span class="bold">[2.4.2]</span> Percentage Manipulation [Decrease]</li>
						<li><span class="bold">[2.5]</span> Percentage Express Relative Units</li>
						<li><span class="bold">[2.6]</span> Percentage Of</li>
						<li><span class="bold">[2.7]</span> Reverse Percentage</li>
						<li><span class="bold">[3.1]</span> Simplifcation of Algebraic Equations</li>
						<li><span class="bold">[3.1.1]</span> Simplifcation of Algebraic Equations Part II</li>
					</ul>
				</section>
				<section id="volumes">
					<h2>Volumes</h2>
					<div class="divider"></div>

					<p>Each volumes contains 10 topics, focused around a core topic, with a total of 50 questions each.<br>Hence, each volume has 500 questions in total and is priced at <span class="price">$9</span>.</p>

					<ul>
						<li><span class="bold">Volume A001</span> - Percentages & Fractions Fundamentals<br>Includes: 2.1, 2.2, 2.3.1, 2.3.2, 2.3.3</li>
						<li><span class="bold">Volume A002</span> - Comprehensive Percentages<br>Includes: 2.3.3, 2.3.4, 2.4.1</li>
					</ul>
				</section>
			</div>
		</div>
	</body>
</html>