<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10.0, minimum-scale=.25, user-scalable=yes"/>
		<meta name="description" content="Worksheets grandmaster"/>

		<link rel="stylesheet" href="/css/includes/reset.css">
		<link rel="stylesheet" href="/css/includes/qriller/new_topbar.css">
		<link rel="stylesheet" href="/css/views/qriller/listing_page.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;500;600;700;800;900&display=swap" rel="stylesheet">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<!-- <script src="/js/views/qriller/signup.js"></script> -->

		<title>Qriller | Topics</title>
	</head>
	<body>
		<div id="topbar-container">
			<a href="/" id="logo-redirect"><img src="/qriller_assets/banner.svg"></a>
			<a class="active" href="/about">About</a>
			<a href="/about">Purchase</a>
			<a href="/about">Account</a>
			<a href="/about">Contact</a>
			<div id="topbar-mobile-component">
				<a id="topbar-mobile-link">About</a>
				<button id="topbar-mobile-hamburg">
					<img src="/qriller_assets/hamburg.svg">
				</button>
				<div id="topbar-mobile-hamburg-menu">
					<a>Purchase</a>
					<a>Pricing</a>
					<a>Contact</a>
				</div>
			</div>
		</div>
		<div id="background-product-container">
			<img id="background-tulip-img" src="/qriller_assets/tulip.svg">
		</div>
		<div id="container">
			<h1 id="page-header">TOPIC LIST</h1>
			<div id="searchbar-container">
				<input id="searchbar-inp" name="searchquery-inp" placeholder="SEARCH TOPIC">
				<button id="searchbar-search-btn"><img src="/qriller_assets/search.svg"></button>
			</div>
			<div id="scrolltable-container">
				<div class="topic-entry">
					<h2 class="topic-entry-header">1 | Laws of Indices</h2>
					<table class="sub-topics-table">
						<thead>
							<tr>
								<th>Topic Code</th>
								<th>Topic Title</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>TC001-0</td>
								<td>Laws of Indices Part I</td>
							</tr>
							<tr>
								<td>TC001-1</td>
								<td>Laws of Indices Part II</td>
							</tr>
							<tr>
								<td>TC001-2</td>
								<td>Law of Indices Final Part</td>
							</tr>
							<tr>
								<td>TC001-3</td>
								<td>Expressing Numbers in Standard Form</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="topic-entry">
					<h2 class="topic-entry-header">2 | Laws of Indices</h2>
					<table class="sub-topics-table">
						<thead>
							<tr>
								<th>Topic Code</th>
								<th>Topic Title</th>
							</tr>
						</thead>
						<tbody>
							<tr class="big-topic-row">
								<td>TC001</td>
								<td>Laws of Indices</td>
							</tr>
							<tr>
								<td>TC001-0</td>
								<td>Laws of Indices Part I</td>
							</tr>
							<tr>
								<td>TC001-1</td>
								<td>Laws of Indices Part II</td>
							</tr>
							<tr>
								<td>TC001-2</td>
								<td>Law of Indices Final Part</td>
							</tr>
							<tr>
								<td>TC001-3</td>
								<td>Expressing Numbers in Standard Form</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="topic-entry">
					<h2 class="topic-entry-header">2 | Laws of Indices</h2>
					<table class="sub-topics-table">
						<thead>
							<tr>
								<th>Topic Code</th>
								<th>Topic Title</th>
							</tr>
						</thead>
						<tbody>
							<tr class="big-topic-row">
								<td>TC001</td>
								<td>Laws of Indices</td>
							</tr>
							<tr>
								<td>TC001-0</td>
								<td>Laws of Indices Part I</td>
							</tr>
							<tr>
								<td>TC001-1</td>
								<td>Laws of Indices Part II</td>
							</tr>
							<tr>
								<td>TC001-2</td>
								<td>Law of Indices Final Part</td>
							</tr>
							<tr>
								<td>TC001-3</td>
								<td>Expressing Numbers in Standard Form</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="topic-entry">
					<h2 class="topic-entry-header">2 | Laws of Indices</h2>
					<table class="sub-topics-table">
						<thead>
							<tr>
								<th>Topic Code</th>
								<th>Topic Title</th>
							</tr>
						</thead>
						<tbody>
							<tr class="big-topic-row">
								<td>TC001</td>
								<td>Laws of Indices</td>
							</tr>
							<tr>
								<td>TC001-0</td>
								<td>Laws of Indices Part I</td>
							</tr>
							<tr>
								<td>TC001-1</td>
								<td>Laws of Indices Part II</td>
							</tr>
							<tr>
								<td>TC001-2</td>
								<td>Law of Indices Final Part</td>
							</tr>
							<tr>
								<td>TC001-3</td>
								<td>Expressing Numbers in Standard Form</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
	<script>
		window.addEventListener("scroll", function() {
			var topbar = document.getElementById("topbar-container");

			if (window.scrollY > 50) { // Adjust the value as needed
				topbar.classList.add("scrolled");
			} else {
				topbar.classList.remove("scrolled");
			}
		});

		var topicEntries = document.getElementsByClassName("topic-entry")
		for (let i = 0; i < topicEntries.length; i++) {
			let ele = topicEntries.item(i)
			let table = ele.getElementsByClassName("sub-topics-table")
			if (table.length >= 1) {
				table = table[0]
				ele.addEventListener("click", e => {
					table.classList.toggle("active")
				})
			}
		}

		var topbarMobileComp = document.getElementById("topbar-mobile-component")
		var hamburgMenu = document.getElementById("topbar-mobile-hamburg-menu")
		document.getElementById("topbar-mobile-hamburg").addEventListener("click", e => {
			topbarMobileComp.classList.toggle("expanded")
		})
		document.getElementById("topbar-mobile-hamburg-close-btn").addEventListener("click", e => {
			topbarMobileComp.classList.toggle("expanded")
		})
	</script>
</html>