<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10.0, minimum-scale=.25, user-scalable=yes"/>
		<meta name="description" content="Worksheets grandmaster"/>

		<link rel="stylesheet" href="/css/includes/reset.css">
		<link rel="stylesheet" href="/css/includes/qriller/default.css">
		<link rel="stylesheet" href="/css/includes/qriller/topbar.css">
		<link rel="stylesheet" href="/css/views/qriller/qriller_topiclistpage.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<title>Qriller</title>
	</head>
	<body>
		<div id="topbar-container">
			<h1>Qriller</h1>
			<div id="topbar-action-container">
				<button id="contactus-btn" class="topbar-action-btn">
					Support
				</button>
				<button id="contactus-btn" class="topbar-action-btn">
					Contact Us
				</button>
				<button id="buy-btn" class="topbar-action-btn">
					BUY
				</button>
			</div>
		</div>
		<div id="topbar-bottom-container">
			<p>Conceptual learning | worksheets grandmaster</p>
			<div id="topbar-bottom-action-container">
				<div><a href="/qriller">Home</a></div>
				<div><a href="/qriller/series">Series</a></div>
				<div><a href="/qriller/topic-list">Topic List</a></div>
			</div>
		</div>
		<div id="content-container">
			<h1>List of Topics</h1>
			<h4>Computationally-generated worksheets.</h4>
			<p>You are able to purchase a sole sub-topic that comes with 200 questions or you can choose to purchase the whole topic that comes with 40 questions for every sub-topic.<br>Both series are priced at <span class="sgd-reference">SGD5</span>.</p>
			<div id="list-container">
				<details class="topic-header">
					<summary>Topic 2 | Percentages [G002]</summary>
					<div class="topic-list-container">
						<p><span class="topic-list-subheading">2.1</span> Percentage increase [M2001]</p>
						<p><span class="topic-list-subheading">2.2</span> Percentage decrease [M2002]</p>
						<p><span class="topic-list-subheading">2.3</span> Percentage change [M2003]</p>
					</div>
				</details>
				<details class="topic-header">
					<summary>Topic 3 | Algebraic Expressions [G003]</summary>
					<div class="topic-list-container">
						<p><span class="topic-list-subheading">2.3</span> Percentage change</p>
					</div>
				</details>
				<details class="topic-header">
					<summary>Topic 4 | Algebraic Equations [G004]</summary>
					<div class="topic-list-container">
						<p>hidden much?</p>
					</div>
				</details>
				<details class="topic-header">
					<summary>Topic 5 | Algebraic Differentiation [G005]</summary>
					<div class="topic-list-container">
						<p>hidden much?</p>
					</div>
				</details>
				<details class="topic-header">
					<summary>Topic 6 | Algebraic Integration [G006]</summary>
					<div class="topic-list-container">
						<p>hidden much?</p>
					</div>
				</details>
			</div>
		</div>
	</body>
</html>