<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=.5, maximum-scale=10.0, minimum-scale=.25, user-scalable=yes"/>
		<meta name="description" content="page description here"/>

		<link rel="stylesheet" href="/css/includes/reset.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="" rel="stylesheet">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<title>Qriller | Worksheet Directory</title>

		<style>
			table {
				padding: 100px;

				font-family: monospace;
			}

			tr {
				padding: 10px;
			}

			td {
				padding: 5px;
			}

			td > .chapter-header {
				font-weight: 700;
			}

			td.status {
				font-size: .85rem;
			}

			td.f {
				color: grey;
			}

			td.s {
				color: green;
			}
		</style>
	</head>
	<body>
		<table>
			<tbody>
				<tr>
					<td><span class="chapter-header">[2.1]</span> Fractions to Percentage</td>
					<td class="status f">NOT SYNC</td>
				</tr>
				<tr>
					<td><span class="chapter-header">[2.2]</span> Percentage to Fractions</td>
					<td class="status f">NOT SYNC</td>
				</tr>
				<tr>
					<td><span class="chapter-header">[2.3.1]</span> Percentage Increase</td>
					<td class="status f">NOT SYNC</td>
				</tr>
				<tr>
					<td><span class="chapter-header">[2.3.2]</span> Percentage Decrease</td>
					<td class="status f">NOT SYNC</td>
				</tr>
				<tr>
					<td><span class="chapter-header">[2.3.3]</span> Percentage Change</td>
					<td class="status s">SYNCED</td>
				</tr>
				<tr>
					<td><span class="chapter-header">[2.3.4]</span> Percentage Change Word Problems</td>
					<td class="status f">NOT SYNC</td>
				</tr>
				<tr>
					<td><span class="chapter-header">[2.4.1]</span> Percentage Manipulation [Increase]</td>
					<td class="status s">SYNCED</td>
				</tr>
				<tr>
					<td><span class="chapter-header">[2.4.2]</span> Percentage Manipulation [Decrease]</td>
					<td class="status s">SYNCED</td>
				</tr>
				<tr>
					<td><span class="chapter-header">[2.5]</span> Percentage Express Relative Units</td>
					<td class="status s">SYNCED</td>
				</tr>
				<tr>
					<td><span class="chapter-header">[2.6]</span> Percentage Of</td>
					<td class="status s">SYNCED</td>
				</tr>
				<tr>
					<td><span class="chapter-header">[2.7]</span> Reverse Percentage</td>
					<td class="status s">SYNCED</td>
				</tr>
				<tr>
					<td><span class="chapter-header">[3.1]</span> Simplifcation of Algebraic Equations</td>
					<td class="status f">NOT SYNC</td>
				</tr>
				<tr>
					<td><span class="chapter-header">[3.1.1]</span> Simplifcation of Algebraic Equations Part II</td>
					<td class="status s">SYNCED</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>