#window {
	display: flex;
	flex-direction: row;

	height: 100%;
}

#sidebar-container {
	flex-grow: 1;
	flex-shrink: 1;

	padding-right: 60px;

	box-shadow: rgba(100, 100, 111, 0.2) 3px 0px 18px 0px;
	background-color: rgb(245, 245, 245);
}

#sidebar-navig-back {
	padding: 20px;

	font-family: monospace;
}

#sidebar-navig-back > a {
	text-decoration-line: none;
}

#sidebar-document-navig-container {
	padding: 20px;
	padding-right: 0;
}

#sidebar-document-navig-container > h2 {
	padding: 0;
	margin-top: 50px;
}

#sidebar-document-navig-container > ul {
	list-style: none;

	padding-left: 5px;
}

#sidebar-document-list-container li {
	display: flex;
	align-items: center;

	padding: 5px;

	border-radius: .4rem;

	cursor: pointer;

	transition-property: background-color;
	transition-duration: 150ms;
	transition-timing-function: linear;
}

#sidebar-document-list-container li:hover,
#sidebar-document-list-container li:focus {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	background-color: #fff;
}

#sidebar-document-list-container li::before {
	content: "";
	display: inline-block;
	height: 16px;
	width: 16px;

	padding: 4px;
	margin-right: 4px;

	background-size: contain;
	background-image: url("/navig_icons/folderopen_black_closeupview.svg");
}

#sidebar-document-list-container > ul > li::before {
	background-image: url("/navig_icons/article_icon.svg");
}

#reading-area {
	flex-grow: 1;

	padding: 50px 120px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	#sidebar-container {
		display: hidden;
	}

	#reading-area {
		padding: 10px;
	}
}
