#answers-container {
	display: flex;
	flex-direction: column;

	counter-reset: question;
}

.answer-element {
	min-width: 0;
	min-height: 0;

	padding: 5px;
	margin-top: -1px;

	border-style: solid;
	border-width: 1px;
	border-color: #d9d9d9;
}

.answer-element:first-child {
	margin-top: 0;
}

.answer-element:nth-child(22n) {
	break-after: page;
}

.answer-header {
	display: flex;
	flex-direction: row;
	align-items: center;

	padding-bottom: 5px;

	counter-increment: question;
}

.answer-header::before {
	display: block;
	content: counter(question) ".";

	position: relative;

	padding-right: 5px;
}