html, body {
	font-family: "Times New Roman", sans-serif;
}

h1 {
	font-weight: 400;
}

hr {
	width: 100%;
	height: 1px;

	border: none;
	background-color: #d9d9d9;
}

#page-container {
	display: flex;
	flex-direction: column;

	padding: 10px;
}

#page-header-container {
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding-bottom: 5px;
	margin-top: 20px;
}

#page-header {
	display: flex;
	flex-direction: row;
	align-items: center;

	cursor: pointer;

	width: 100%;
}

#page-header > #page-share-link {
	width: 24px;
	height: 24px;

	padding: 5px;
	margin-left: 15px;

	visibility: hidden;
	opacity: 0;

	background-image: url("/navig_icons/link.svg");
	background-repeat: no-repeat;
	background-size: cover;

	transition-property: opacity;
	transition-duration: 150ms;
	transition-timing-function: linear;
}

#page-header:focus > #page-share-link,
#page-header:hover > #page-share-link {
	visibility: visible;
	opacity: 1;
}

#page-notes {
	padding: 20px 0;
	line-height: 1.2;
}

#page-footer {
	display: block;

	position: fixed;
	bottom: 0;

	width: calc(100% - 20px);

	padding: 10px;

	color: #666666;
	font-size: .9rem;
}

#page-attribution {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	line-height: 1.2;
}

#page-attribution > p {
	flex-grow: 1;
	flex-basis: 350px;
}

#page-attribution > #license {
	flex-grow: .3;
	flex-shrink: 1;
	flex-basis: 200px;

	text-align: right;
}

#page-attribution .references {
	display: inline-block;

	width: 120px;
	vertical-align: middle;

	color: #919191;

	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

@media screen only and (max-width: 420px) {
	#page-container {
		padding: 20px;
	}
}

@media print {
	#page-share-link {
		display: none;
	}
}