details > summary {
	list-style: none;
	display: none;
}

details > summary::-webkit-details-marker {
	display: none;
}

#item-zoom {
	--primary-color: #f8f8f8;
}

#item-zoom {
	display: flex;
	flex-direction: column;

	position: absolute;
	top: 42px;
	left: 0;

	width: 100%;
	height: calc(100% - 42px);

	transform-origin: 50% 100%;
	transform: scale(0);

	border-radius: .4rem;/* 10% 10% 0 0;*/

	transition-property: border-radius, transform, left, top;
	transition-duration: 250ms;

	touch-action: none;
}

#item-zoom.active {
	transform: scale(1.0);

	border-radius: 0;
	background-color: var(--primary-color);
}

#item-zoom.hidden {
	left: 100% !important; /* let this override any inline styling set by js */
}

#item-image-container {
	position: relative;

	width: 100%;
	flex-basis: 40%;
	max-height: 60%;
	min-height: 60%;

	flex-shrink: 0;
	flex-grow: 1;
}

#item-image-container > img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

#item-image-stats-overlay-container {
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 100%;
	height: 100%;
}

#item-image-stats-overlay-container > div {
	padding: 5px;
}

#item-image-stats-overlay-more-btn {
	width: 32px;
	height: 32px;

	padding: 4px;

	border-radius: 50%;
	background-color: #fff;

	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#item-image-stats-overlay-more-btn > img {
	width: 100%;
	height: 100%;

	object-fit: cover;
}

#item-image-stats-overlay-bottom {
	width: fit-content;
}

#item-image-stats-feedback-container {
	display: flex;
	flex-direction: row;
	align-items: center;

	height: 32px;
	min-width: 0;
	min-height: 32px;

	padding: 0 10px;

	border-radius: 16px;
	background-color: #fff;

	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

	--feedback-grey-accent: #d3d3d3;
}

#item-image-stats-reaction-container {
	display: flex;
	flex-direction: row;
	align-items: center;

	padding: 0 5px;

	font-size: 1.4rem;
}

#item-image-stats-reaction-upload {
	width: 24px;
	height: 24px;
}

#item-image-stats-reaction-upload > img {
	width: 100%;
	height: 100%;

	object-fit: cover;
}

.item-image-stats-reaction-element {
	margin-left: -16px;

	cursor: pointer;

	transition-property: margin-left;
	transition-duration: 150ms;
	transition-timing-function: linear;
}

#item-image-stats-reaction-container:hover .item-image-stats-reaction-element {
	margin-left: -4px;
}

#item-image-stats-reaction-container:hover .item-image-stats-reaction-element:nth-child(2) {
	margin-left: 4px;
}

#item-image-stats-feedback-divider {
	height: 24px;

	border-style: solid;
	border-left-width: 1px;
	border-color: var(--feedback-grey-accent);
}

#item-image-stats-hearts-container {
	display: flex;
	flex-direction: row;
	align-items: center;

	cursor: pointer;
}

#item-image-stats-hearts-container > svg {
	width: 28px;
	height: 28px;

	padding: 4px;
}

#item-details-container {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 40%;
	display: flex;
	flex-direction: column;

	min-height: 0;
	padding: 10px;

	overflow-y: auto;
	font-size: .9rem;
	line-height: 1.5;

	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #efefef;
	background-color: #fff;
}

#item-detail-title {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 24px; /* h1 font styling */
	font-weight: 700;
	color: var(--accent-color);

	--noTitleFontColor: #cbcbcb;
}

#item-detail-title-inputtext {
	border: none;
}

#item-detail-title-inputtext::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--noTitleFontColor);
	opacity: 1; /* firefox */
}

#item-detail-title-inputtext:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: var(--noTitleFontColor);
}

#item-detail-title-inputtext::-ms-input-placeholder { /* Microsoft Edge */
	color: var(--noTitleFontColor);
}

#item-detail-title.noTitle {
	color: var(--noTitleFontColor);
}

.inline-svg {
	position: relative;

	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.inline-svg > img {
	width: 16px;
	height: 16px;
	padding: 5px;
	padding-left: 0;
	object-fit: cover;
}

#item-detail-date-lock-img {
	width: 16px;
	height: 16px;
	padding: 5px;
	object-fit: cover;
}

#item-detail-date-lock-tooltip {
	position: absolute;
	visibility: hidden;

	width: auto;

	padding: 5px;
	text-align: center;

	color: #fff;

	border-radius: .4rem;
	background-color: rgba(10, 10, 10, .7);

	z-index: 2;
}

#item-detail-date-lock-container:hover #item-detail-date-lock-tooltip {
	visibility: visible;
}

#item-detail-date {
	align-items: flex-start;
}

#item-detail-fixeddate {
	padding-left: 21px;
	font-size: .8rem;
	color: #6e6e6e;
}

#item-detail-more-trigger {
	margin-top: 10px;
	cursor: pointer;
}

@media only screen and (min-width: 800px) {
	/* left bar is present */
}