<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10.0, minimum-scale=.25, user-scalable=yes"/>
		<meta name="description" content=":)"/>

		<link rel="icon" type="image/x-icon" href="">
		<link rel="stylesheet" href="/css/includes/reset.css">
		<link rel="stylesheet" href="/css/includes/default.css">
		<link rel="stylesheet" href="/css/views/upload.css">
		<link rel="stylesheet" href="/css/views/upload_item_frame.css">
		<link rel="stylesheet" href="/css/views/upload_settingspage.css">
		<link rel="stylesheet" href="/css/views/upload_createpage.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap" rel="stylesheet">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="js/views/upload.js" type="module"></script>
		<script src="js/views/upload_interfaceHandler.js" type="module"></script>
		<script src="https://cdn.jsdelivr.net/npm/exifr/dist/full.umd.js"></script>

		<title>catonwater | missing</title>
	</head>
	<body>
		<div id="big-window">
			<div id="window-blur">

			</div>
			<div id="left-window">
				<div id="left-panel-container">
					<div id="left-panel-head">
						<div id="left-panel-head-word-container">
							<h2>John</h2>
							<p>&</p>
							<h2>Jane</h2>
						</div>
						<div id="left-panel-head-image-container">
							<button class="left-panel-head-image-button" id="left-panel-head-image-1">
								<img src="/static/add_pfp.webp">
							</button>
							<button class="left-panel-head-image-button" id="left-panel-head-image-2">
								<img src="/static/add_pfp.webp">
							</button>
						</div>
					</div>
					<div id="left-panel-action-container">
						<button class="left-panel-action-button" id="left-panel-action-home">
							Home
						</button>
						<button class="left-panel-action-button" id="left-panel-action-search">
							Search
						</button>
						<button class="left-panel-action-button" id="left-panel-action-insights">
							Collections
						</button>
						<button class="left-panel-action-button" id="left-panel-action-insights">
							Insights
						</button>
						<button class="left-panel-action-button" id="left-panel-action-create">
							Create
						</button>
						<button class="left-panel-action-button" id="left-panel-action-settings">
							Settings
						</button>
					</div>
				</div>
			</div>
			<div id="right-window">
				<div id="treasure">
					<div id="topbar-action-panel" class="unselectable">
						<div id="left-action-panel">
							<div id="user-dropdown-selection">
								<div id="user-dropdown-selection-head">
								</div>
								<div id="user-dropdown-selection-name">
									<p id="user-dropdown-name-text"></p>
								</div>
							</div>
						</div>
						<div id="right-action-panel">
							<div id="settings-action">
								<p>actions.Panel</p>
							</div>
						</div>
					</div>
					<div id="notification-panel">
						<div id="notification-container">
							<svg class="task-save-icon" viewBox="0 -2.5 55 55" preserveAspectRatio="xMidYMid meet">
								<path class="task-save-path check" id="check"
								fill="none" stroke="#80a86d" stroke-width="4"
								d="M 14.22,23.96
								C 14.22,23.96 21.00,30.70 21.00,30.70
								21.00,30.70 42.52,9.39 42.52,9.39" />
								<path class="task-save-path circle" id="circle"
								fill="none" stroke="#80a86d" stroke-width="4"
								d="M 34.88,9.00
								C 34.16,8.25 33.84,7.84 32.09,6.75
								30.34,5.66 28.12,5.16 23.53,5.12
								18.94,5.09 13.38,7.88 9.97,12.00
								6.56,16.12 6.00,19.06 6.00,24.06
								6.00,29.06 7.32,33.91 10.59,37.09
								13.87,40.28 18.36,42.00 23.73,42.00
								29.09,42.00 31.75,41.92 35.66,38.47
								39.57,35.01 42.12,31.16 42.16,26.53
								42.19,21.91 42.22,20.94 41.00,18.41" />
							</svg>
							<p id="notification-text-element"></p>
						</div>
					</div>
					<div id="dates-giant-container">
					</div>
				</div>
				<div id="item-zoom">
					<div id="item-image-container">
						<img id="item-image-element" src="">
					</div>
					<div id="item-details-container">
						<div id="item-detail-title"><input id="item-detail-title-inputtext" type="text" placeholder="No title (write one)" maxlength="128"></div>
						<div id="item-detail-date" class="inline-svg"><img src="/navig_icons/event_calendar.svg"><p id="item-detail-date-text">dd/mm/yy hh:mm:ss pm/am<p></div>
						<div id="item-detail-fixeddate" class="inline-svg"><p id="item-detail-fixeddate-text">dd/mm/yy hh:mm:ss pm/am<p></div>
						<div id="item-detail-collection" class="inline-svg"><img src="/navig_icons/folderopen_black_closeupview.svg"><p id="item-detail-collection-text">Collection</p></div>
						<div id="item-detail-location" class="inline-svg"><img src="/navig_icons/location.svg"><p id="item-detail-location-text">location</p></div>
						<div id="item-detail-more-trigger" class="inline-svg"><img id="item-detail-more-trigger-image" src="/navig_icons/unfold_more_double.svg">Expand more details</div>
						<details id="item-detail-more">
							<summary>
								Expand more details
							</summary>
							<div id="item-detail-cameraman" class="inline-svg"><img src="/navig_icons/face.svg"><p id="item-detail-cameraman-text">yet</p></div>
							<div id="item-detail-camera" class="inline-svg"><img src="/navig_icons/camera.svg"><p id="item-detail-camera-text">make</p></div>
							<div id="item-detail-filesize" class="inline-svg"><img src="/navig_icons/cloud_upload.svg"><p id="item-detail-filesize-text">12.1MB or 128871234 bytes</p></div>
							<div id="item-detail-ar" class="inline-svg"><img src="/navig_icons/image_aspect_ratio.svg"><p id="item-detail-ar-text">16:9</p></div>
							<div id="item-detail-filedimen" class="inline-svg"><img src="/navig_icons/crop_square.svg"><p id="item-detail-filedimen-text">3200x3000px</p></div>
						</details>
						<div id="item-detail-note" class="inline-svg"><img src="/navig_icons/pencil.svg">note..</div>
					</div>
				</div>
				<div class="page-window" id="settings-page">
					<div class="page-window-tobpar-container">
						<button class="page-window-navig-button">
							<div class="page-window-navig-button-float">
								<
							</div>
						</button>
						<h1>Settings</h1>
					</div>
					<div id="global-settings-container">
						<h2>Global</h2>
						<div class="settings-line-border"></div>
						<form id="global-settings-flexcontainer">
							<div class="global-settings-portion" id="global-settings-person1">
								<input type="file" name="person1-pfp" style="display: none;">
								<button class="global-settings-head-upload-button"><img src="/static/add_pfp.webp"></button>

								<label for="person1-name">
									Name
								</label>
								<input type="text" name="person1-name" placeholder="Username">
							</div>
							<div class="global-settings-portion" id="global-settings-person2">
								<input type="file" name="person2-pfp" style="display: none;">
								<button class="global-settings-head-upload-button"><img src="/static/add_pfp.webp"></button>

								<label for="person2-name">
									Name
								</label>
								<input type="text" name="person2-name" placeholder="Username">
							</div>
						</form>
					</div>
					<div id="local-setting-container">
						<h2>Local settings</h2>
						<div class="settings-line-border"></div>

						<div id="local-setting-flexcontainer">
							<label for="local-theme">
								Theme
							</label>
							<input type="checkbox" name="local-theme" style="display: none;">
							<label for="local-timezonedisp">
								Timezone to display
							</label>
							<input type="text" name="local-timezonedisp" style="display: none;">
						</div>
					</div>
				</div>
				<div class="page-window" id="create-page">
					<div class="page-window-tobpar-container">
						<button class="page-window-navig-button">
							<div class="page-window-navig-button-float">
								<
							</div>
						</button>
						<h1>Create</h1>
						<div id="create-page-topbar-right" class="hidden">
							<h1>Proceed</h1>
							<button id="create-page-proceed-btn" class="page-window-navig-button-right">
								<div class="page-window-navig-button-float">
									>
								</div>
							</button>
						</div>
					</div>
					<div id="create-uploaded-container">
						<div id="create-upload-tray" class="hidden">
							<div id="create-upload-stats">
								<div id="create-upload-stats-top">
									<button id="create-upload-delete-btn">
										X
									</button>
									<div id="create-upload-counter">
									</div>
								</div>
								<div id="create-upload-stats-middle">
									<div>
										<button id="create-upload-prev-btn"><</button>
									</div>
									<div>
										<button id="create-upload-next-btn">></button>
									</div>
								</div>
								<div id="create-upload-stats-bottom">
									<button id="create-upload-more-btn"><img src="/navig_icons/add_to_photos.svg"></button>
								</div>
							</div>
							<div id="create-upload-img-displaycontainer">
								<img id="create-upload-img-display">
							</div>
						</div>
						<div id="create-upload-tray-empty">
							<p>no images</p>
							<input id="create-file-input" class="hidden" type="file" multiple>
							<button id="create-upload-btn">
								upload
							</button>
						</div>
					</div>
					<div id="create-info-container">
						<h2>Edit details</h2>
						<div class="settings-line-border"></div>
						<div id="create-edit-emptyplaceholder">
							<p id="create-edit-emptyplaceholder-sadface">
								:(
							</p>
							<p>add something</p>
						</div>
						<form id="create-edit-form" class="hidden">
							<label for="create-title">
								Title
							</label>
							<input id="create-form-title-input" name="create-title" type="text" placeholder="write something">

							<label for="create-date" id="create-form-date-label">
								Date
							</label>
							<input id="create-form-date-input" name="create-date" type="datetime-local" step=".001">
							<p id="create-form-dateinput-info"></p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>